<h1>Movies</h1>

<div class="container">
   <%= render partial: "movie" %>
   <% @last_movie_id = @movies.last.id %>
</div>

<div class="load-more-container">

  <%= link_to "Loading", '#', class: "loading-gif" %>
  <%= link_to "Load More", movies_path, class: "load-more", :remote => true %>
</div>


