<div class="banner">
  <div class="row justify-content-center">
    <h1>SearchFlix</h1>
    <div class="trans-banner">
      <h2>Find out where Netflix movies are available!</h2>
      <%= render 'shared/search_form' %>
    </div>
    <button class="watchlist-btn">Create my Personalized Watchlist</button>
  </div>
</div>
