.card-product {
  overflow: hidden;
  height: 192px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.card-product:hover {
  box-shadow: 0 0 35px rgba(0,0,0,0.2);
  transform: scale(1.1);
}

.card-product > img {
  height: 100%;
  width: 341px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 5px;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 32px;      /* fallback */
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.card-product .card-product-infos {
  padding: 10px;
  max-height: 100%;
}

.card-product ul {
  display: inline;
  padding: 0;
  list-style-type: none;
}

.card-product li {
  display: inline;
}

.card-product ul li img {
  height: 16px;
  width: 24px;
}



